/* This is the initial initialisation of the CSS Script used in my project */

body { /*initialise body*/
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto auto;
}

header {
    height: 100px;
    background-color:rgb(5, 129, 138);

}

footer {
    min-height: 100px;
    background-color: rgb(5, 129, 138);
}

p {
    color: black;
    padding-left: 10%;
    padding-right: 10%;
}

h1#main_body_h1 { /*Top banner of the page*/
    color: white;
    text-align: center;
    padding-top: 10px;
}

h2#main_body_h2 { /*About my Project */
    text-align: center;
}

h3 { /*initial Idea*/
    text-align: center;
}

h3#footer {
    color: white;
    
}

ul#main_body_ul { /*system to implement*/
    padding-left: 33%;
}

div#footer {
    box-align: center;
}

p#footer {
    color:white;
    padding-top: 30px;
    font-size:smaller;
}

button#visit_me {
    width: fit-content;
}
